increase-db-size-step-function.json
{
    "Comment": "Step Function to modify RDS Oracle",
    "StartAt": "Check Available", 
    "States": {
        "Check Available": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:rds:describeDBInstances",
            "ResultPath": "$.DBStatus",
            "ResultSelector": {
                "DBInstanceStatus.$": "$.DbInstances[0].DbInstanceStatus"
            },
            "Parameters": {
                "DbInstanceIdentifier": "dbprod"
            },
            "Next": "Is Available?"
        },
        "Is Available?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.DBStatus.DBInstanceStatus",
                    "StringEquals": "available",
                    "Next": "Modify Instance"
                },
                {
                    "Variable": "$.DBStatus.DBInstanceStatus",
                    "StringEquals": "stopped",
                    "Next": "Start RDS"
                }
            ],
            "Default": "Wait for Available"
        },
        "Start RDS": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:rds:startDBInstance",
            "Parameters": {
                "DbInstanceIdentifier": "dbprod"
            },
            "Next": "Wait for Available"
        },
        "Wait for Available": {
            "Type": "Wait",
            "Seconds": 300,
            "Next": "Check Available"
        },
        "Modify Instance": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:rds:modifyDBInstance",
            "Parameters": {
                "DbInstanceIdentifier": "dbprod",
                "DbInstanceClass": "db.t3.xlarge",
                "DbParameterGroupName": "pg-oracle-se2-19-xlarge-atualizacao",
                "ApplyImmediately": true
            },
            "Next": "Wait for Modification"
        },
        "Wait for Modification": {
            "Type": "Wait",
            "Seconds": 300,
            "Next": "Check Modification"
        },
        "Check Modification": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:rds:describeDBInstances",
            "ResultPath": "$.DBStatus",
            "ResultSelector": {
                "DBInstanceStatus.$": "$.DbInstances[0].DbInstanceStatus"
            },
            "Parameters": {
                "DbInstanceIdentifier": "dbprod"
            },
            "Next": "Is Modified?"
        },
        "Is Modified?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.DBStatus.DBInstanceStatus",
                    "StringEquals": "available",
                    "Next": "Reboot RDS"
                }
            ],
            "Default": "Wait for Modification"
        },
        "Reboot RDS": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:rds:rebootDBInstance",
            "Parameters": {
                "DbInstanceIdentifier": "dbprod"
            },
            "End": true
        }
    }
}