step-functions/decrease-db-size-step-function.json
{
    "Comment": "Step Function para modificar RDS Oracle",
    "StartAt": "Modify Instance",
    "States": {
        "Modify Instance": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:rds:modifyDBInstance",
            "Parameters": {
                "DbInstanceIdentifier": "dbtst",
                "DbInstanceClass": "db.t3.medium",
                "DbParameterGroupName": "your-parameter-group-medium",
                "ApplyImmediately": true
            },
            "Next": "Wait for Modification"
        },
        "Wait for Modification": {
            "Type": "Wait",
            "Seconds": 300,
            "Next": "Check Modification"
        },
        "Check Modification": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:rds:describeDBInstances",
            "ResultPath": "$.DBStatus",
            "ResultSelector": {
                "DBInstanceStatus.$": "$.DbInstances[0].DbInstanceStatus"
            },
            "Parameters": {
                "DbInstanceIdentifier": "dbtst"
            },
            "Next": "Is Modified?"
        },
        "Is Modified?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.DBStatus.DBInstanceStatus",
                    "StringEquals": "available",
                    "Next": "Reboot RDS"
                }
            ],
            "Default": "Wait for Modification"
        },
        "Reboot RDS": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:rds:rebootDBInstance",
            "Parameters": {
                "DbInstanceIdentifier": "dbtst"
            },
            "Next": "Wait for Reboot"
        },
        "Wait for Reboot": {
            "Type": "Wait",
            "Seconds": 300,
            "Next": "Check Reboot"
        },
        "Check Reboot": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:rds:describeDBInstances",
            "ResultPath": "$.DBStatus",
            "ResultSelector": {
                "DBInstanceStatus.$": "$.DbInstances[0].DbInstanceStatus"
            },
            "Parameters": {
                "DbInstanceIdentifier": "dbtst"
            },
            "Next": "Is Rebooted?"
        },
        "Is Rebooted?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.DBStatus.DBInstanceStatus",
                    "StringEquals": "available",
                    "Next": "End RDS"
                }
            ],
            "Default": "Wait for Reboot"
        },
        "End RDS": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:rds:stopDBInstance",
            "Parameters": {
                "DbInstanceIdentifier": "dbtst"
            },
            "End": true
        }
    }
}